.project
.settings
target/
tmp/
!web/src/main/webapp/images/tmp
util/.classpath
util/.project
util/.settings
util/target/
util/tmp/
web/.classpath
web/.project
web/.settings
web/target/
web/temp/
tmp.jpeg
tmp.png
*.db
*.svg

